[submodule "static/peddie-physics"]
	path = static/peddie-physics
	url = https://github.com/glolichen/peddie-physics

[submodule "public/peddie-physics"]
	path = public/peddie-physics
	url = https://github.com/glolichen/peddie-physics

