@font-face {
	font-family: "Adwaita Sans";
	src: url("/fonts/AdwaitaSans-Regular.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: "Adwaita Sans", sans-serif;
}
code {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 80%;
}
